<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<!-- BEGIN HEAD -->
{{> auth/head}}
<!-- END HEAD -->

<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="/">
        <img src="{{level}}favicon.ico" alt="" /> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    {{ body }}
</div>
<div class="copyright"> {{ currentYear }} © Analytics. </div>
<!-- BEGIN THEME LAYOUT SCRIPTS -->
{{> auth/scripts}}
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>